{% extends 'admin.html' %}
{% load static %}
{% block content %}

      <!-- page start-->
      
      <div class="row">
        <div class="col-lg-6">
          <section class="panel">
            <header class="panel-heading">
              Total Churn Percentage In Availble Data
            </header>
            <div class="panel-body">
              <center>
              <img src="{% static 'img/graphs/churnGraph.png' %}" class="img-responsive" width="300" height="330" alt="percentageChurn">
              <center>
            </div></section></div>
        <div class="col-lg-6">
            <section class="panel">
              <header class="panel-heading">
                Total Churn According To Gender
              </header>
              <div class="panel-body">
                <center>
                <img src="{% static 'img/graphs/gender.png' %}" class="img-responsive" width="400" height="450" alt="percentageChurn">
                </center>
              </div></section></div>
        </div>

        <div class="row">
          <div class="col-lg-12">
            <section class="panel">
              <header class="panel-heading">
                Total Churn Percentage In Availble Data
              </header>
              <div class="panel-body">
                <div class="col-lg-6">
                <img src="{% static 'img/graphs/histogram1.png' %}" class="img-responsive" width="620" height="730" alt="percentageChurn">
              </div>
                <div class="col-lg-6">
                  <img src="{% static 'img/graphs/histogram2.png' %}" class="img-responsive" width="620" height="730" alt="percentageChurn">
                </div>
                </div>
            </section>
                </div></div>

                <div class="row">
                  <div class="col-lg-12">
                    <section class="panel">
                      <header class="panel-heading">
                        Total Churn Percentage In Availble Data
                      </header>
                      <div class="panel-body">
                        <div class="col-lg-12"><center>
                          <img src="{% static 'img/graphs/countplot.png' %}" class="img-responsive" width="1000" height="630" alt="percentageChurn">
                        </center></div>
                        </div>
                    </section>
                        </div></div>
        
    
    <!--main content end-->


{% endblock %}