{% extends 'blank.html' %}

{% block content %}
<!--main content start-->
<section id="main-content">
    <section class="wrapper">
      <div class="row">
        <div class="col-lg-12">
          <h3 class="page-header"><i class="fa fa fa-bars"></i> Help</h3>
          <ol class="breadcrumb">
            <li><i class="fa fa-home"></i><a href="blank">Home</a></li>
            <li><i class="icon_documents_alt"></i><a href="help">Help</a></li>
          </ol>
        </div>
      </div>
      <!-- page start-->
      <div class="row">
      <div class="col-lg-12">
        <div class="recent">
          <h4>This Is A TelecomChurn Analysis & Prediction Project By TE3 Students Neha , Akanksha & Ishita</h4><br>
          <section class="panel">
            <header class="panel-heading">
             <h3> Directions For Use :</h3>
            </header>
            <div class="panel-body">
          <div class="col-lg-6">
        <h4><center><u>For User</u></center></h4>
            <ul>
                <li>Steps :  1 - <a href="login">Login </a></li>
                <li>Only those users who are registered can login using valid customerID</li>
                <li>User after <a href="login">login</a> can only see their own subscription details .</li>
                <li>User does not have any other major role in this site.</li>
            </ul> 
          </div>
          <div class="col-lg-6">
            <h4><center><u>For Admin</u></center></h4>
          <ul>
              <li>Steps :  1 - <a href="login">Login </a></li>
              <li>Only high authority person with admin credentials can access this site .</li>
              <li>The Admin have many options to browse through.</li>
              <li>1 - View the dataset details.</li>
              <li>2 - View all customer details.</li>
              <li>3 - View the different charts and graphs (Data Representation) and Prediction Algorithm results details.</li>
              <li>4 - Prediction of churn for new customer values</li>
          </ul> 
        </div>
        </div></section></div>
        </div>
      </div>
     
       <!-- page ends-->
{% endblock %} 